<style>
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 0.1rem 0;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
</style>
<footer>
    <p>&copy; La Restauratioooon. Tous droits réservés.</p>
</footer>