<form method="post" action="{{ path('restaurant_delete', {'id': restaurant.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce restaurant ?');" style="display:inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>